# Serveur
PORT=4000
NODE_ENV=development

# MongoDB Atlas — remplacer par la vraie connection string
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/reagis

# JWT
JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d
PARTICIPANT_JWT_SECRET=change-me-in-production

# CORS — URL du client web en dev
CLIENT_URL=http://localhost:5173
